services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpass
      POSTGRES_DB: admin_api
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data